.contenedor {
  display: flex;
  flex-direction: column;
}

.arriba {
  background: #000000;
}

marquee {
  color: rgb(0, 0, 0);
  text-align: center;
  color: aliceblue;
  text-align: center;
  font-size: x-large;
}

.abajo {
  display: flex;
  flex-direction: row;
}

.izquierdo {
  width: 20%;
  background-color: #006e90c4;
}

.derecho {
  width: 80%;
  background-color: #657e5542;
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  margin: auto;
  padding-top: 5%;
  width: 80px;
  height: 80px;
}

.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
  margin-right: 20px;
}
.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  border-radius: 2%;
  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

.u-pull-right {
  float: right;
  margin-right: 50px;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.botonsumares {
  background-color: #555555;
  border-radius: 20%;
  margin: 6% 6% 6% 6%;
  text-decoration: none;
  color: white;
}

.sumarCurso {
  padding: 4px 7px;
}

.restarCurso {
  padding: 4px 9px;
}

.borrar-curso {
  background-color: red;
  border-radius: 25%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.vaciarcarro {
  display: flex;
  margin: auto;
  background-color: #094e9286;
  background-color: transparent;
  border-radius: 10px;
  padding: 1.5%;
  justify-content: center;
  width: 50%;
  font-size: medium;
}

#vaciar-carrito {
  color: #000000;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.iconositem {
  width: 20px;
  height: 20px;
  padding-left: 10%;
}

label {
  color: aliceblue;
}

.item {
  font-family: "Shippori Antique", sans-serif;
}

.contactarnos {
  font-family: "Metal", cursive;
  text-align: center;
  color: aliceblue;
  font-size: x-large;
}

.carrocompra {
  width: 30px;
  height: 30px;
  display: block;
  /* padding-left: 96%; */
  padding-top: 1%;
}

.popup {
  background-color: #000000;
}

.titulocursos {
  text-align: center;
  font-size: 40px;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Metal", cursive;
  padding: 0%;
}

.inferiorderechainferior {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* padding-top: 2%; */
}

.front {
  background: #adcad6;
  margin: 12%;
  width: 300px;
  /* height: 450px; */
  margin: 20px;
  border-radius: 17px;
  padding-top: 2%;
  margin-top: 0%;
}

.linka {
  color: #ffffff;
  text-decoration: none;
}

.imgproductos {
  width: 260px;
  height: 150px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.nombreproducto {
  font-family: "Metal", cursive;
  text-align: center;
  font-size: x-large;
  color: rgb(0, 0, 0);
  padding-left: 5%;
  line-height: 100%;
  letter-spacing: 1px;
}

.precio {
  font-weight: bolder;
  padding-left: 8%;
}

.descripcionproducto {
  font-family: "Shippori Antique", sans-serif;
  padding-left: 8%;
  padding-right: 8%;
  text-align: justify;
}

.btn {
  display: flex;
  margin: auto;
  background-color: #094e92c4;
  border-radius: 10px;
  color: aliceblue;
}

.añadir {
  padding: 3%;
  justify-content: center;
  width: 90%;
  font-size: medium;
  letter-spacing: 1px;
}
.comprar {
  padding: 3%;
  justify-content: center;
  width: 90%;
  font-size: medium;
  letter-spacing: 1px;
}

.imgatras {
  position: absolute;
  left: 2%;
  /*top: 911px; */
  color: #ffffff;
  width: 30px;
  height: 30px;
  top: 7%;
}
